[Desktop Entry]
Version=1.0
Name=EstateQuery Core
Comment=EstateQuery P2P Cryptocurrency
Comment[fr]=ESTATEQUERY, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ESTATEQUERY, eşten eşe kriptografik sanal para birimi
Exec=estatequery-qt %u
Terminal=false
Type=Application
Icon=estatequery128
MimeType=x-scheme-handler/estatequery;
Categories=Office;Finance;
StartupWMClass= EstateQuery-qt
